.joshImage {
  align-content: center;
  border-radius: 20px;
}

.jamesImage {
  align-content: center;
  border-radius: 20px;
}

.bubble blockquote {
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px 10px 0;
  opacity: 0.7;
  padding: 60px;
  position: relative;

}
.bubble blockquote:before, .bubble blockquote:after {
  color: white;
  content: "\201C";
  font-size: 80px;
  line-height: 1;
  padding: 10px;
  position: absolute;
}
.bubble blockquote:before {
  left: 10px;
  top: 0;
}
.bubble blockquote:after {
  bottom: -.5em;
  content: "\201D";
  right: 10px;
}
.bubble div {
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  height: 0;
  margin-bottom: 10px;
  margin: 0 0 0 60px;
  width: 0;

}
.bubble cite {
  color: white;
  font-size: 1.25em;
  padding-left: 20px;
}

.about-us {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
