
div.column.is-two-thirds {
  padding-top: 50px;}
  .column.is-one-third{
    padding-top: 50px;
}

div.card-image {
  background-color: black;
  

}

input.input {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  border: 1px solid black;
}

div.card-content {
  background-color: black;
  opacity: 0.9;
  color: white;
  max-height: 100px;
}

div.card {
  max-height: 500px;
}
