
div.column.is-two-thirds {
  padding-top: 50px;}
  .column.is-one-third{
    padding-top: 50px;
  }

  div.card-image {
    background-color: black;


  }

  input.input {
    border: 1px solid black;
    color: white;
    font-weight: bold;

  }

  div.card-content {
    background-color: black;
    color: white;
    max-height: 100px;
    opacity: 0.9;
  }

  div.card {
    max-height: 500px;
  }
