
.navbar {
  // border-radius: 20px;
  background-color: black;
  margin-bottom: 30px;
  opacity: 0.8;
  position: fixed;
  position: sticky;

}

a.navbar-item {
  color: white;
  &:hover {
    text-decoration: underline;
    background-color: black;
  }
}

div.navbar-menu.is-active {
  background-color: black;
  // margin: 50px;

}

.navbar-burger {
  padding: 40px;
}
