
.navbar {
  position: fixed;
  background-color: black;
  opacity: 0.8;
  // border-radius: 20px;
  position: sticky;
  margin-bottom: 30px;

}

a.navbar-item {
  color: white;
  &:hover {
  text-decoration: underline;
  background-color: black;
  }
}

div.navbar-menu.is-active {
  background-color: black;
  // margin: 50px;

}

.navbar-burger {
  padding: 40px;
}
