img.sliderImage {
  width: auto;
  height: 300px;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  margin: auto;
}

.clickMe {
  font-weight: bold;
  align-items: center;
}

.slider-button {
  width: auto;
}
