h1.title {
  // color: white;
  font-size: 36px;

  // &.homeTitle {
    // color: white;
  // }
}

// h2.title {
//   color: white;

//   &.subtitle {
//     color: white;
//   }
// }

// .homeSubtitle {
//   color: white;
// }

.content,
// h3.title {
//   color: white;
// }

p {
  font-weight: bold;
  // color: white;

  .content {
    color: white;
  }
}

// .skillsColor {
//   color: white;
// }

select {
  font-family: 'Raleway', cursive;
}

.input {
  font-family: 'Raleway', cursive;
  margin-top: 5px;
}

// strong {
//   color: white;
// }

div.control {
  padding-top: 10px;
}
